on: push

# Replace old runs in the same group
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Run ktlint check
        uses: burrunan/gradle-cache-action@v3
        with:
          arguments: |
            ktlintCheck
            -PcriiptoDomain=${{ secrets.CRIIPTO_VERIFY_DOMAIN }}
            -PcriiptoClientId=${{ secrets.CRIIPTO_VERIFY_CLIENT_ID }}
      - name: Run unit tests
        uses: burrunan/gradle-cache-action@v3
        with:
          arguments: |
            test
            -PcriiptoDomain=${{ secrets.CRIIPTO_VERIFY_DOMAIN }}
            -PcriiptoClientId=${{ secrets.CRIIPTO_VERIFY_CLIENT_ID }}